/*#2A2726 • #B77154 • #76432F • #81A0A4 • #6A8A94*/

*{
    text-align: center;
}

body{
    background-color: #6A8A94;
    display: grid;
    place-items: center;
}

h1{
    color: #76432F;
    text-transform: uppercase;
    font-size: 2.2rem;
}

#container{
    margin: 5% auto;
    background-color: white;
    height: 40rem;
    width: 35rem;
    box-shadow: 0 8px 20px 0 #2A2726;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    filter: drop-shadow(1px 2px 5px #6A8A94);
}

#result{
    display: none;
}



@media only screen and (max-width: 600px){

    body{
        font-size: small;
    }
    #container{
        margin: 0% auto;
        height: 30rem;
        width: 15rem;
    }

    h1{
        font-size: 1.2rem;
    }
}




